.body {
    background: #b4b3c3;
    overflow-x: hidden;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
    margin-top: 30px;
    margin-bottom: 100px;

}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 60px;
    gap: 40px;
}


.main-illustration {
    width: 100%;
    max-width: 520px;
    margin-left: 320px;
   
}

.earphones {
    position: absolute;
    width: 200px;
    height: 220px;
    margin-left: 100px;
    top: 370px;

}

.keychain {
    position: absolute;
    width: 120px;

    left: 90px;
    bottom: 390px;
}

.navbar {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar a:hover {
    opacity: 0.7;
    color: rgb(139, 116, 137);
    
}





