.body {
    overflow-x: hidden;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -3;
    opacity: 0.9;
}

.browser {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.content {
    margin-top: 180px;
    text-align: center;
}

.title {
    font-size: 90px;
    color: #ffffffdd;
    text-shadow: 0 0 10px #673f67;
    margin-bottom: 40px;
    margin-top: 200px;
    font-family: 'Monsieur La Doulaise', cursive;
}

.toc-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}

.toc-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

}

.thumb {
    width: 70%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 15px #ffbaff;
    margin-bottom: 100px;

}

.toc-item span {
    font-size: 40px;
    color: #ffffffee;
    text-shadow: 0 0 8px #ffc9ff;

}

.toc-item:hover .thumb {
    transform: scale(1.05);
    transition: 0.3s ease;
}

#navbar {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

#navbar a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

#navbar a:hover {
    opacity: 0.7;
    color: hsl(305, 9%, 50%);
}

