body {
    margin: 0;
    padding: 0;
    background-color: #f3dbe9dd;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.lace {
    position: absolute;
    width: 55%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.preview-container {
    position: relative;
    width: 70%;
    margin: 60px auto;
}

/* Tabs */
.preview-tab {
    width: 70%;
    background: rgb(226, 214, 214);
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    left: 0;
    transition: transform .3s ease, opacity .3s ease;
    box-shadow: 0 6px 12px rgba(0,0,0,0.18);
    margin-left: 120px;
    
}

.tab-header {
    background: rgb(231, 203, 203);
    padding: 8px 14px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.tab-img {
    width: 100%;
    display: block;
}

.tab1 { top: 0;      transform: rotate(-3deg); }
.tab2 { top: 200px;   transform: rotate(2deg); }
.tab3 { top: 400px;  transform: rotate(-2deg); }
.tab4 { top: 600px;  transform: rotate(1deg); }

.preview-tab:hover {
    transform: scale(1.05) rotate(0deg);
    z-index: 10;
}

#navbar {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    
}

#navbar a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    font-family:Times New Roman;
    
}

#navbar a:hover {
    opacity: 0.7;
    color: hsl(305, 9%, 50%);
}


